@model IEnumerable<LTQL.Models.GianHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenGH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNQL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenGH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNQL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaGH }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaGH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaGH })
        </td>
    </tr>
}

</table>
